# timelog.rc
# config file for https://github.com/linuxcaffe/task-timelog-hook
# to activate, include this file from your .taskrc
#
alias.time=exec ~/.task/hooks/task-timelog-hook/t
alias.timedot=exec ~/.task/hooks/task-timelog-hook/t.
